<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.nuribodeum.mapper.AccountMapper">
		<insert id="insertManager" parameterType="com.nuribodeum.vo.ManagerVO">
			INSERT INTO MANAGER(manager_id, password, name, organization, department, phone)
			VALUES(#{manager_id}, #{password}, #{name}, #{organization}, #{department}, #{phone})
		</insert>
		
		<insert id="insertUser" parameterType="com.nuribodeum.vo.UserVO">
			INSERT INTO USER(user_id, password, name, date_of_birth, illness, phone, address, sex, manager_id)
			VALUES(#{user_id}, #{password}, #{name}, #{date_of_birth}, #{illness}, #{phone}, #{address}, #{sex}, #{manager_id})
		</insert>
		
		<insert id="insertProtector" parameterType="com.nuribodeum.vo.ProtectorVO">
			INSERT INTO PROTECTOR(protector_id, password, name, phone, user_id)
			VALUES(#{protector_id}, #{password}, #{name}, #{phone}, #{user_id})
		</insert>
		
		<insert id="insertHelper" parameterType="com.nuribodeum.vo.HelperVO">
			INSERT INTO HELPER(helper_id, password, name, date_of_birth, organization, phone)
			VALUES(#{helper_id}, #{password}, #{name}, #{date_of_birth}, #{organization}, #{phone})
		</insert>
		
		<select id="getManager" parameterType="String" resultType="com.nuribodeum.vo.ManagerVO">
			SELECT * FROM MANAGER
			WHERE manager_id = #{manager_id}
		</select>
		
		<select id="getUser" parameterType="String" resultType="com.nuribodeum.vo.UserVO">
			SELECT * FROM USER
			WHERE user_id = #{user_id}
		</select>
		
		<select id="getProtector" parameterType="String" resultType="com.nuribodeum.vo.ProtectorVO">
			SELECT * FROM PROTECTOR
			WHERE protector_id = #{protector_id}
		</select>
		
		<select id="getHelper" parameterType="String" resultType="com.nuribodeum.vo.HelperVO">
			SELECT * FROM HELPER
			WHERE helper_id = #{helper_id}
		</select>
		
		<select id="getManagerList" resultType="com.nuribodeum.vo.ManagerVO">
			SELECT * FROM MANAGER
		</select>
		
		<select id="getUserList" resultType="com.nuribodeum.vo.UserVO">
			SELECT * FROM USER
		</select>
		
		<select id="getProtectorList" resultType="com.nuribodeum.vo.ProtectorVO">
			SELECT * FROM PROTECTOR
		</select>
		
		<select id="getHelperList" resultType="com.nuribodeum.vo.HelperVO">
			SELECT * FROM HELPER
		</select>
		
		<update id="updateManager" parameterType="com.nuribodeum.vo.ManagerVO">
			UPDATE MANAGER
			SET  name = #{name}, organization = #{organization}
			, department = #{department}, phone = #{phone}
			WHERE manager_id = #{manager_id}
		</update>
		
		<update id="updateUser" parameterType="com.nuribodeum.vo.UserVO">
			UPDATE USER
			SET  name = #{name}, date_of_birth = #{date_of_birth}
			, illness = #{illness}, phone = #{phone}, address = #{address}
			, sex = #{sex}, manager_id = #{manager_id}
			WHERE user_id = #{user_id}
		</update>
		
		<update id="updateProtector" parameterType="com.nuribodeum.vo.ProtectorVO">
			UPDATE PROTECTOR
			SET  name = #{name}, phone = #{phone}
			, user_id = #{user_id}
			WHERE protector_id = #{protector_id}
		</update>
		
		<update id="updateHelper" parameterType="com.nuribodeum.vo.HelperVO">
			UPDATE HELPER
			SET  name = #{name}, phone = #{phone}
			, date_of_birth = #{date_of_birth}, organization = #{organization}
			WHERE helper_id = #{helper_id}
		</update>
		
		<update id="updatePassword" parameterType="com.nuribodeum.vo.AccountVO">
			UPDATE <if test="account_type.equals('manager')">MANAGER</if>
			       <if test="account_type.equals('user')">USER</if>
			       <if test="account_type.equals('protector')">PROTECTOR</if>
			       <if test="account_type.equals('helper')">HELPER</if>
			SET password = #{password}
			WHERE <if test="account_type.equals('manager')">manager_id = #{id}</if>
			      <if test="account_type.equals('user')">user_id = #{id}</if>
			      <if test="account_type.equals('protector')">protector_id = #{id}</if>
			      <if test="account_type.equals('helper')">helper_id = #{id}</if>
		</update>
		
		<delete id="deleteManager" parameterType="String">
			DELETE FROM MANAGER
			WHERE manager_id = #{manager_id}
		</delete>
		<delete id="deleteUser" parameterType="String">
			DELETE FROM USER
			WHERE user_id = #{user_id}
		</delete>
		<delete id="deleteProtector" parameterType="String">
			DELETE FROM PROTECTOR
			WHERE protector_id = #{protector_id}
		</delete>
		<delete id="deleteHelper" parameterType="String">
			DELETE FROM HELPER
			WHERE helper_id = #{helper_id}
		</delete>
		
	</mapper>