<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.nuribodeum.mapper.HelpMapper">
		<insert id="insertHelp" parameterType="com.nuribodeum.vo.HelpVO">
			INSERT INTO HELP(emergency_seq, helper_id)
			VALUES(#{emergency_seq}, #{helper_id})
		</insert>
		
		<select id="getHelp" parameterType="int" resultType="com.nuribodeum.vo.HelpVO">
			SELECT * FROM HELP
			WHERE help_seq = #{help_seq}
		</select>
		
		<select id="getHelpList" resultType="com.nuribodeum.vo.HelpVO">
			SELECT * FROM HELP
		</select>
		
		<update id="completeHelp" parameterType="int">
			UPDATE HELP
			SET complete = true
			WHERE help_seq = #{help_seq}
		</update>
		
		
	</mapper>