<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.nuribodeum.mapper.HelpMapper">
		<insert id="insertHelp" parameterType="com.nuribodeum.vo.HelpVO">
			INSERT INTO HELP(emergency_seq, helper_id)
			VALUES(#{emergency_seq}, #{helper_id})
		</insert>
		
		<select id="getHelp" parameterType="int" resultType="com.nuribodeum.vo.HelpVO">
			SELECT * FROM HELP
			WHERE help_seq = #{help_seq}
		</select>
		
		<select id="getHelpList" resultType="com.nuribodeum.vo.HelpVO">
			SELECT * FROM HELP
		</select>
		
		<select id="getHelpersHelpList" parameterType="String" resultType="com.nuribodeum.vo.HelpVO">
			SELECT * FROM HELP
			WHERE helper_id = #{helper_id}
		</select>
		
		<select id="getUsersHelpList" parameterType="String" resultType="com.nuribodeum.vo.HelpVO">
			SELECT * FROM HELP, EMERGENCY
			WHERE HELP.emergency_seq = EMERGENCY.emergency_seq
			AND user_id = #{user_id}
		</select>
		
		<select id="getMonthHelpList" parameterType="String" resultType="com.nuribodeum.vo.HelpVO">
			SELECT * FROM HELP
			WHERE date_format(complete_time, '%Y-%m') = #{strMonth};
		</select>
		
		<update id="completeHelp" parameterType="int">
			UPDATE HELP
			SET complete = true, complete_time = now()
			WHERE help_seq = #{help_seq}
		</update>
		
		
	</mapper>